footer{
    background-image: url(../images/footer_background.jpg);
    background-size: contain;
    width: 100%;
    height: 350px;
    position: fixed;
    bottom:0;
    z-index: -10;
    div{
        color: white;
    }
    .tags{
        span{
            padding: 5px;
            background-color: $rouge;
            color: white;
            border: 1px solid white;
            border-radius: 25px;
        }
    }
    #bande{
        background-color: $rouge;
        width: 100%;
        height: 15%;
        position: absolute;
        bottom: 0;
    }
    }